body{
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#heading{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    cursor:pointer;
}

.show{
    padding:5px 15px; 
    margin: 5px;
    background:white; 
    border: 1px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#gifs{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

#gifDiv{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.gif{
    margin-left: 10px;
}

#add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

#add-tv {
    margin-top: 20px;
}

#topRow {
    display: flex;
    justify-content: center;
}

#topRow input {
    margin-left: 20px;
}

#tv-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gif{
    height: 300px;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    #gifs{
        display: flex;
        flex-direction: column-reverse;
    }
}